<h4>SUMMARY</h4>
<article class="summary-total">
  <h4>Total</h4>
  <div class="summary-total-data">
    <div class= "summary-layer">
      <p><%= user.total_day %></p>
      <p>Day</p>
    </div>
    <div class= "summary-layer">
      <p><%= user.total_week %></p>
      <p>Week</p>
    </div>
    <div class= "summary-layer">
      <p><%= user.total_month %></p>
      <p>Month</p>
    </div>
  </div>
  <select>
    <option value="Period">Custom Period</option>
    <option value="Period">Day</option>
    <option value="Period">Week</option>
    <option value="Period">Month</option>
  </select>
</article>