<div class= "list">
  <div class="task-date"><p><%= l task.start_date, format: :short %></p></div>
  <div class="task-description"><p><%= task.description %></p></div>
  <div class="task-price"><p><%= task.duration %></p></div>
</div>
