<h1>Welcome</h1>
<p>Write your usename and start using Unzulu Time.</p>
<form accept-charset="UTF-8" action="/" method="get" id="startForm">
  <%= text_field_tag(:username) %>
  <%= submit_tag("Start") %>
</form>
